<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>Strona główna</title>
</head>
<body>
<form action="process" method="post">
   <table class="styled-table">
     <tr>
       <th><label for="category">Kategoria główna: </label></th>
       <th><input type="text" id="category" name="category"><br></th>
     </tr>
     <tr>
       <th><label for="category">Minimalna liczba ocen: </label></th>
       <th><input type="text" id="rev_cnt" name="rev_cnt"><br></th>
     </tr>
     <tr>
       <th><label for="category">Minimalna ocena: </label></th>
       <th><input type="text" id="min_rating" name="min_rating"><br></th>
     </tr>
     <tr>
       <th><label for="category">Minimalna cena (1-4): </label></th>
       <th><input type="text" id="min_price" name="min_price"><br></th>
     </tr>
     <tr>
       <th><label for="category">Maksymalna cena (1-4): </label></th>
       <th><input type="text" id="max_price" name="max_price"><br></th>
     </tr>
     <tr>
       <th><label for="address">Adres: </label></th>
       <th><input type="text" id="address" name="address"><br></th>
     </tr>
     <tr>
       <th><label for="distance">Maksymalna odległość [m]:</label></th>
       <th><input type="text" id="distance" name="distance"><br></th>
     </tr>
     <tr>
       <th><label for="results_cnt">Liczba wyników: </label></th>
       <th><input type="text" id="results_cnt" name="results_cnt"><br></th>
     </tr>
     <tr>
       <th><label for="order">Sortowanie:</label></th>
       <th>
         <select name="order" id="order">
           <option value="rating">Ocena</option>
           <option value="price">Cena</option>
           <option value="distance">Odległość</option>
           <option value="popularity">Popularność</option><br>
         </select></th>
     </tr>
     <tr>
       <th><input type="submit" value="Wyślij"></th>
     </tr>
   </table>
</form>
</body>
</html>